/* Global styles */

html {
    scroll-behavior: smooth;
}

#about, #projects, #contact {
    padding-top: 70px;
    margin-top: 0px;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

p {
    line-height: 1.6em;
}

/* Header styles */

.headerWrapper {
    width: 66%;
    margin: 0 auto;
}

#header {
    background-color:#000;
    height: 60px;
    color:#fff;
    position: fixed;
    width: 100%;
    border-bottom: 2px solid #8B0000;
}

#header .logoText {
    margin: 0;
    font-size: 25px;
    font-family: 'Ubuntu';
    padding-left: 0.5em;
    padding-top: 0.5em;
    width: 4.5em;
    float: left;
}

#navInner {
    list-style-type: none;
    float: right;
    padding-right: 0.5em;
    font-size: 1.1em;
    font-family: 'Ubuntu'; 
    margin-top: 1.1em;
}

#navInner li {
    display: inline;
    font-family: 'Ubuntu';
    border: 1px solid #FFF;
    padding: 5px;
    margin-left: 10px;
    transition: background-color 500ms ease-out;
}

#navInner li:hover {
    cursor: pointer;
    background:#8B0000;
}

#navInner a {
    color: #FFF;
    text-decoration: none;
}

/* Main styles */

#banner {
    height: 700px;
    background: url('../img/bannerBg.jpg') center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#banner h1 {
    margin: 0;
    color: #FFF;
    font-size: 2.5em;
    font-family: 'Ubuntu';
}

#banner h3 {
    color: #FFF;
    font-size: 1.4em;
    font-family: 'Ubuntu';
}

#bannerProjectPage {
    height: 500px;
    background: url('../img/projectBg.jpg') center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bannerProjectPage h1 {
    margin: 0;
    color: #FF0000;
    font-size: 2.5em;
    font-family: 'Ubuntu';
}

#bannerProjectPage h3 {
    color: #FF0000;
    font-size: 1.4em;
    font-family: 'Ubuntu';
}

#main {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Ubuntu';
}

.contentWrapper {
    width: 100%;
    margin: 0 auto;
}

.section {
    width: 66%;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

.sectionIntro {
    font-size: 1.1em;
    width: 60%;
    margin: 0 auto;
}

#about p {
    width: 60%;
    margin: 2em auto;
    font-size: 1.1em;
}

#projectBg {
    background-color: #dcdcdc;
}

#projects {
    padding-top: 4em;
    padding-bottom: 7em;
    margin-bottom: 70px;
}

#projects .fa {
    font-size: 2.5em;
}

.projectContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 3em;
}

@media screen and (max-width: 1000px) {
    .projectContainer { 
      flex-direction: column;
    }
    .second {
      order: 2;
    }
    .third {
      order: 3;
    }
    .projectItem {
        width: 100% !important;
    }
    .projectItem:not(:last-child) {
        margin-bottom: 4em;
    }
}

.projectItem {
    width: 30%;
}

.projectItem p {
    margin: 0 auto !important;
    width: 66% !important;
    padding-bottom: 1.6em;
}

.projectButton {
    text-decoration: none;
    color: #8B0000;
    border: 1px solid #8B0000;
    padding: 5px;
    transition: background-color 500ms ease-out, color 400ms ease-out;
}

.projectButton:hover {
    cursor: pointer;
    background: #8B0000;
    color: #FFF;
}

#contact {
    margin-top: -70px;
}

#contactForm {
    margin-top: 3em;
}

#contactForm input {
    margin-bottom: 1.5em;
    margin-top: 0.3em;
    padding: 5px;
    font-size: 16px;
}

#firstName, #lastName, #phone, #email {
    width: 16em;
    text-align: center;
}

input#submitButton {
    margin-right: 1em;
}

/* Footer styles */

#footer {
    background-color:#000;
    color:#fff;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    position: relative;
    bottom: 0;
}

#footer ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}

#footer li {
    margin-bottom: 5px;
}

#footer a {
    color: #FFF;
    text-decoration: none;
}

#scrollTopWrapper {
    position: fixed;
    right: 25px;
    bottom: 5px;
    z-index: 50;
    overflow: hidden;
}

#scrollTop {
    display: none;
}

#scrollTop a {
    border: 2px solid #8B0000;
    display: block;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    transition: all 1s ease 0s;
    width: 45px;
    margin: 0 auto;
}

#scrollTop a:hover {
    background:#8B0000;
}

#scrollTop span:hover:before {
    color: #FFF;
}

#scrollTop span {
    display: block;
    transition: all 1s ease 0s;
    z-index: 1;
    margin-bottom: 0;
    width: 41px;
    height: 41px;
    background: none;
    position: relative;
    overflow: hidden;
}

#scrollTop span:before {
    top: 0;
}

#scrollTop span:before, #scrollTop span:after {
    content: "\f062";
    font-size: 19px;
    font-family: FontAwesome;
    line-height: 41px;
    position: absolute;
    left: 0;
    width: 45px;
    text-align: center;
    transition: all 0.5s ease 0s;
    color:#8B0000;
}

#scrollTop span:after {
    top: 50px;
    color: #FFF;
}

.copyright {
    text-align: center;
    margin-top: 2em;
}

/* Project 1 styles */

.resultBox {
    border: 2px solid #8B0000;
    display: none;
    height: 50px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

#quoteText {
    color: #000;
    font-size: 1.2em;
    margin: 0.4em;
}

#quoteButton {
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 0.9em;
    padding: 0.3em;
}

#fortuneButton {
    margin-bottom: 2em;
    font-size: 0.9em;
    padding: 0.3em;
}

/* Project 2 styles */

.calcOuterContainer {
    padding: 5px;
}

.calcInnerContainer {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}