/* Global styles */

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.contentWrapper {
    width: 66%;
    margin: 0 auto;
}

/* Header styles */

#header {
    background-color:#000;
    height: 60px;
    color:#fff;
    position: fixed;
    width: 100%;
    border-bottom: 2px solid #8B0000;
}

#header .logoText {
    margin: 0;
    font-size: 25px;
    font-family: 'Ubuntu';
    padding-left: 0.5em;
    padding-top: 0.5em;
    width: 4.5em;
    float: left;
}

#navInner {
    list-style-type: none;
    float: right;
    padding-right: 0.5em;
    font-size: 1.1em;
    font-family: 'Ubuntu'; 
}

#navInner li {
    display: inline;
    font-family: 'Ubuntu';
    border: 1px solid #FFF;
    padding: 5px;
    margin-left: 10px;
    transition: background-color 500ms ease-out;
}

#navInner li:hover {
    cursor: pointer;
    background:#8B0000;
}

#navInner a {
    color: #FFF;
    text-decoration: none;
}

/* Main styles */

.section {
    margin-top: 100px;
    margin-bottom: 150px;
}

#banner {
    height: 700px;
    background: url('../img/bannerBg.jpg') center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#banner h1 {
    margin: 0;
    color: #FFF;
    font-size: 2.5em;
    font-family: 'Ubuntu';
}

#banner h3 {
    color: #FFF;
    font-size: 1.4em;
    font-family: 'Ubuntu';
}

#main {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Ubuntu';
}

/* Footer styles */

#footer {
    background-color:#000;
    color:#fff;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    position: relative;
    bottom: 0;
}

.copyright {
    text-align: center;
}